body {
  margin: 0;
}

.main-division {
  position: absolute;
  height: 100%;
  width: 100%;
}

#top-left {
  position: relative;
  width: 50%;
  height: 50%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#child1 {
  border: 50px;
  background-color: rgb(185, 9, 9);
  /* z-index: 2; */
}

#child2 {
}

#child3 {
}

#top-right {
  position: relative;
  left: 50%;
  bottom: 50%;
  width: 50%;
  height: 50%;
  background-color: yellow;
}

#bottom-left {
  position: relative;
  bottom: 50%;
  width: 50%;
  height: 50%;
  background-color: green;
}

#bottom-right {
  position: relative;
  left: 50%;
  bottom: 100%;
  width: 50%;
  height: 50%;
  background-color: orange;
}

#container-pic {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 500px;
  height: 100px;
}
