body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

/* WIP: Implement .hover */

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 40%;
}

.main-division {
  position: absolute;
  height: 100%;
  width: 100%;
}

#top-left {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

#container-tl1 {
  color: #8e6147;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
}

#container-tl2 {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

#container-tl2 h3 {
  padding-left: 10%;
  color: #8e6147;
  opacity: 1;
}

#hover-3 {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  text-align: justify;
  text-justify: inter-word;
  align-self: center;
  width: 40%;
  height: fit-content;
  --c: no-repeat linear-gradient(#bfa58e 0 0);
  background: var(--c) calc(-101% + var(--p, 0%)) 100%,
    var(--c) calc(201% - var(--p, 0%)) 0;
  background-size: 50.1% var(--p, 0.08em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

#hover-3:hover {
  --p: 101%;
  --t: 0.3s;
  color: #fff;
}

#top-right {
  position: relative;
  left: 50%;
  bottom: 50%;
  width: 50%;
  height: 50%;
  background-color: #bfa58e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bar-tp {
  display: flex;
  justify-content: right;
  margin-top: 7.5%;
}

#bar-tp a {
  font-size: 1.2rem;
  color: #ffffff;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-top: 1.5%;
  border-width: 3px;
  margin-right: 6%;
  text-decoration: none;
}

#container-tr {
  margin-bottom: 5%;
  width: 200px;
  height: 200px;
  transition: 0.8s;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./Library.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* WIP: Can we set up an ion-icon as background image?  */
/* ion-icon {
  margin-left: 200px;
  margin-top: 200px;
  width: 180px;
  height: 200px;
  color: #bfa58e; 
} */
/* #folder:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
} */

#container-tr ul {
  background-color: #bfa58e;
  color: white;
  opacity: 0;
  transition: 0.1s;
}

#container-tr a {
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
}

#container-tr:hover {
  transform: scale(2);
  background-image: none;
  opacity: 1;
  color: #ffffff;
}

#container-tr:hover ul {
  background-image: none;
  opacity: 1;
  color: white;
  user-select: none;
}

#bottom-left {
  position: relative;
  bottom: 50%;
  width: 50%;
  height: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container-bl {
  margin-top: 15%;
  width: 200px;
  height: 200px;
  transition: 0.8s;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./Suitcase.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#container-bl ul {
  background-color: white;
  color: #bfa58e;
  opacity: 0;
  transition: 0.1s;
}

#container-bl:hover {
  transform: scale(2);
  background-image: none;
  opacity: 1;
  color: #ffffff;
}

#container-bl h4 {
  margin-bottom: %;
}

#container-bl:hover ul {
  background-image: none;
  opacity: 1;
  color: #bfa58e;
  user-select: none;
}

#bottom-right {
  position: relative;
  left: 50%;
  bottom: 100%;
  width: 50%;
  height: 50%;
  background-color: #bfa58e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container-br {
  margin-top: 15%;
  width: 200px;
  height: 200px;
  transition: 1s;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./folder.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* WIP: Should I put some borders? */
#container-br p {
  /* border-color: #8e6147;
  border-style: solid;
  border-radius: 20%;
  border-width: 5%; */
  background-color: #bfa58e;
  color: #ffffff;
  opacity: 0;
  transition: 0.1s;
}

#container-br a {
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
}

#container-br:hover {
  transform: scale(2);
  background-image: none;
  opacity: 1;
  color: #ffffff;
}

#container-br:hover p {
  background-image: none;
  opacity: 1;
  color: #ffffff;
  user-select: none;
}
